@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    text-rendering: optimizeLegibility;
    font-family: 'Lato', sans-serif;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bungee', cursive;
    font-weight: 700;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 46px;
}

h4 {
    font-size: 34px;
    margin: 0;
    line-height: 38px;
}

h5 {
    font-size: 24px;
}

p {
    margin: 0;
}