// Colors:

$black: #101820;
$white: #FFFFFF;

$hempHazelnut: #71CC98;
$coconutLemon: #F3D03E;
$blue: #407EC9;
$grasgrun: #009A44;
$physalisTurmeric: #E57200;
$peanutCocoa: #B59461;
$red: #F9423A;
$pink: #F57EB6;

$grey1: #606060;
$grey2: #888888;
$grey3: #C2C2C2;
$grey4: #F6F6F6;

